@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    /* background: rgb(255, 255, 255); */
}

@layer base {
    body {
      @apply bg-white
        dark:bg-[#242426]
        text-neutral-800
        dark:text-white
        transition-colors;
    }
  }

h1,
h2,
p,
span,
button,
div,
input {
    color: #262626;
}